services:
  backend:
    build:
      context: .
    volumes:
      - ../:/app
    ports:
      - 3000:3000
      - 5173:5173
    working_dir: /app
    command: sleep infinity
    stop_grace_period: 2s
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    environment:
      - POSTGRES_HOST=db
  db:
    image: postgres:14.3
    ports:
      - 5433:5432
    env_file:
      - ../.env
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  app-network:
    driver: bridge
